.photo-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    justify-content: center;
}

.lbox {
    width: 28%;
    max-width: 300px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 4px #777777;
}

.lbox:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

.lbox a {
    display: block;
}

.lbox img {
    width: 100%;
    vertical-align: middle;
}

.top h4 {
    margin-top: 70px;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 26px;
    letter-spacing: 5px;
}

h4 {
    margin-top: 40px;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 26px;
    letter-spacing: 5px;
}

.i-video {
    width: 90%;
    height: 350px;
    margin: auto;
}

@media screen and (min-width:750px) {
    .top, .photo-box, .movie, small{margin-left: 150px;}
}