body{
    text-align: center;font-family: 'Sawarabi Mincho', sans-serif;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing__item {
    position: relative;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 0 1 70%;
    
}

.pricing__feature-list {
    text-align: left;
}

.pricing__action {
    color: inherit;
    border: none;
    background: none;
}

.pricing__action:focus {
    outline: none;
}

/* Sonam */
.pricing--sonam .pricing__item {
    margin: 1.5em;
    padding: 2em;
    cursor: default;
    border-radius: 10px;
    background: #dddddd;
    transition: background 0.3s;
}

.pricing--sonam .pricing__item:hover {
    background: #f5f5f5;
}

.pricing--sonam .pricing__title {
    font-size: 1.5em;
    width: 100%;
    line-height: 1;
    color: #2e2e2e;
    border-bottom: 3px solid rgb(168, 168, 168);
}

.pricing--sonam .pricing__price {
    color: #E06060;
    font-size: 1.75em;
    padding: 4px;
}

.pricing--sonam .pricing__sentence {
    font-weight: bold;
    color: #363636;
}

.pricing--sonam .pricing__feature-list {
    margin: 0;
    padding: 1em 1em 1em;
    line-height: 1;
    text-align: center;
}

.pricing--sonam .pricing__action {
    font-weight: bold;
    margin-top: auto;
    padding: 0.75em 2em;
    border-radius: 5px;
    background: #E06060;
    transition: background 0.3s;
}

.pricing--sonam .pricing__action:hover,
.pricing--sonam .pricing__action:focus {
    background: #BD3C3C;
}

.bot-b a {
    color: #2e2e2e;
}


@media screen and (min-width:750px) {
    .cont ,.bot-b, small{margin-left: 150px;}
}