body{
    text-align: center;
    font-family:  'Anton','Sawarabi Mincho', sans-serif;
}

.cont {
    margin-top: 80px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.cont-s {
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cont img {
    margin-top: 20px;
    margin-bottom: 20px
}

.pr {
    font-family: "Nico Moji";
    font-size: 25px;
}

.cont a {
    background-color: gray;
    padding: 10px 45px;
    margin-top: 20px;
    color: white;;
    transition: all 0.5s;
    font-family: 'Lobster', cursive, 'Sawarabi Mincho', sans-serif;
    font-size: 15px;
}

.cont_a{
    margin-top: 20px;
}

.cont a:hover {
    background-color: #4f585e;
    text-shadow: none;
    box-shadow: none;
    color: white;
}

.prf-c a{
    background: none;
    margin: -35px;
    color: #4f585e;
}

.prf-c a:hover{
    background: none;
}

.tit {
    font-weight: bold;
    padding-top: 15px;
}

.cont {
    line-height: 01;
}

.cont-box0{
    margin-top: 40px;
}
.cont-box0 p{
    margin-top: 15px;
}

/* 
Copyright Andrew Canham
Released under the MIT license
http://opensource.org/licenses/mit-license.php
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

body {
    text-rendering: optimizeLegibility;
}

.no-touch a.btn:hover {
    background: #00a2ad;
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}

div.cards {
    margin: 80px auto;
    color: #4f585e;
    width: 80%;
    text-align: center;
    margin-left: 200px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

div.card {
    display: inline-block;
    margin: 8px;
    padding-top: 5pxl;
    max-width: 280px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
    margin-bottom: 20px;
}

div.card img {
    max-width: 280px;
}

div.card div.card-title {

    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

div.card div.card-title a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
}

div.card div.card-title a.toggle-info span {
    background: gray;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}

div.card div.card-title a.toggle-info span.left {
    right: 14px;
    transform: rotate(45deg);
}

div.card div.card-title a.toggle-info span.right {
    left: 14px;
    transform: rotate(-45deg);
}

div.card div.card-title h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}

div.card div.card-title h2 small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
}

div.card div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
}

div.card div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
}

div.card div.card-flap {
    background: gray;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
}

div.card div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}

div.card div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}

div.cards.showing div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
}

div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
    background: #ff6666 !important;
}

div.card.show div.card-title a.toggle-info span {
    top: 15px;
}

div.card.show div.card-title a.toggle-info span.left {
    right: 10px;
}

div.card.show div.card-title a.toggle-info span.right {
    left: 10px;
}

div.card.show div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
}

div.card.show div.flap1 {
    transition: all 0.3s 0s ease-out;
}

div.card.show div.flap2 {
    transition: all 0.3s 0.2s ease-out;
}

.card-title {
    background-color: white;
}

.card {
    background-color: white
}

.teiki_b btn {}

.toggle-info a.btn {
    background: white;
}

.card a.btn {
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
}

/**/

.title-box {
    width: 95%;
    border-radius: 15px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Bourgone {
    background-color: rgba(255, 0, 0, 0.2)
}

.Aruet {
    background-color: rgba(186, 0, 255, 0.2)
}

.teiki {
    display: none;
}

.teiki_b {
    display: none;
}

.c-box {
    display: none;
}

.c-cont{
    margin-bottom: 35px;
}


/*
Copyright Jed Trow
Released under the MIT license
http://opensource.org/licenses/mit-license.php
*/


.graph-cont{
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}
h1,h2,h3{
  color: #34495e;
}

.bar{
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  background: #4f585e;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bar1::after{
  max-width: 85%;
}
.bar2::after{
  max-width: 75%;
}
.bar3::after{
  max-width: 60%;
}
.bar4::after{
  max-width: 60%;
}

.bar5::after{
  max-width: 20%;    
}

.bar6::after{
    max-width: 70%;
}

.bar7::after{
    max-width: 10%;
}

.bar8::after{
    max-width: 100%;
}

@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}



@media screen and (min-width:750px) {
    .cont, small{margin-left: 90px}
}
