.fra {
    position: relative;
    width: 100%;
    height: 1000px;
    margin-right: 10px;
    overflow: hidden;
    margin-left: 100px;
}

.fra iframe {
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
}

.side {
    display: block;
    z-index: 99999;
    height: 80px;
}

.side ul {
    float: right;
    margin-right: 15px;
    font-size: 20px
}

.side a {
    font-size: 19px;
}

.top h3 {
    font-size: 40px;
    letter-spacing: 7px;
    margin-left: 25px;
    line-height: 0.5;
    padding-top: 0px;
    line-height: 1;
}

.top p {
    font-size: 15px;
}

.top-img {
    margin-left: 0px;
}

img.image-round1 {
    width: 50px;
    height: 50px;
}

.pc-head {
    display: none;
}

.menu2 img {
    margin-top: 0px;
}

.pricing__item p {
    margin: 4px;
}

.pricing__item {
    line-height: 1;
}

.sns {
    z-index: 99;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: -100px;
}

.cont {
    padding-top: 50px;
}

div.cards {
    margin-left: 0px;
    margin: auto;
}

.contents .wrap {
    padding: 0;
    height: 350px;
    padding-top: 100px;
    width: 100%;
}

.text-box {
    width: 80%;
}

.contents a {
    font-size: 15px;
}

.contents p {
    font-size: 13px
}

.top h4 {
    margin-top: 150px;
}

.lbox {
    margin-bottom: 40px;
}

.lb-outerContainer {
    margin: 150px auto auto auto;
}

.sns {
    display: none;
}

footer p {
    padding-bottom: 5px;
}

.teiki-w {
    width: 70%;
    margin: auto;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.wrapper {
    margin-top: 25px;
}


.c-cont {
    margin-left: 0px;
}

.box1 {
    margin-left: 0px;
}

.box2 {
    margin-left: -50px;
}

.skeb {
    margin-left: 0px;
}

.text-box .copy {
    padding-left: 0px;
}

.img404 img {
    width: 100%;
    bottom: 0;
    padding-left: 0;
}

.fas{margin-top: 30px;}