*{box-sizing: border-box;}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body,
html{
    height: 100%;
    margin: 0;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

body{
    background: #2a2a2a;
     background: linear-gradient(to top, rgba(234, 136, 234, 0.7) 0%, rgba(11, 32, 34, 0.7) 100%),url(img/563119.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

a,
a:link,
a:visited,{
    color:white;
}

header{
    max-width: 800px;
    margin: 0 auto;
}

header h4{
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    display: inline-block;
    border-bottom: solid 3px #365857;
    margin-left: 30px;
}

span{
    color: #365857;
}

.title{
    max-width: 800px;
    margin:0 auto;
}

blockquote{
position: relative;
margin: 1.5em 1em 1.5em;
padding: 1em;
z-index: 1;
}

.title p{
    font-family:'Anton','Sawarabi Gothic', sans-serif;
        z-index: 1;
    color: #e5e5e5;
    font-size:27px;
    line-height: 1;
    letter-spacing: 4px;
    margin: 5px;;
}

.content{
    display: table;
    max-width: 800px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;
}

.cont-block{
    font-family:'Sawarabi Mincho', 'Sawarabi Gothic', sans-serif;
    display: table-cell;
    height: 20px;
    width: 40%;
    text-align:left;
    vertical-align: top;
    padding: 10px;
}

hr{
    width: 80%;
    margin: 0 auto;
    border-top: 5px solid #29cebb;
}

.content02{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.content02 h3{
    text-align: center;
    margin-left: 30px;
    font-family:'Anton';
}

.cont2_box{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text01{
    text-align:left;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-family:'Sawarabi Mincho', 'Sawarabi Gothic', sans-serif;
     position: relative;
}

.text01 p{
    position: absolute;
     bottom: 5px;
    right: 15px;
    font-family:'Anton';
    font-size:19px;
    line-height: 0;
}

.text01 h4{
    padding-left: 20px;
}



.text01 h4{
    line-height: 0;
}

.content03{
    max-width: 800px;
    margin: 0 auto;
     margin-left: 30px;
}

.cont03-left{
    width: 40%;
    display: inline-block;
    vertical-align:top;
    margin-top: 20px;
    font-family:'Sawarabi Mincho', 'Sawarabi Gothic', sans-serif
}

.cont03-left i{
    float: left;
    margin-top: 15px;
}

.cont03-left h4{
    line-height: 0;
}

.cont03-left p{
    word-wrap: break-word;
}

.cont03-left p , .cont03-left h4{
    margin-left: 80px;
    text-align: left;
}

.cont03-r{
    margin-top: 10px;
    vertical-align: top;
    width:50%;
    word-wrap: break-word;
    display: inline-block;
    vertical-align:top;
    margin-left: 10px;
    text-align:left;
    font-family:'Sawarabi Mincho', 'Sawarabi Gothic', sans-serif;
}

.cont03 {
    margin-top: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.cont03 h3{
        font-family:'Anton','Sawarabi Gothic', sans-serif;
}

.cont03 p{
        font-family:'Sawarabi Mincho', 'Sawarabi Gothic', sans-serif;
}

small{margin-left: 20px;}

svg{
    z-index: 999;
}

#wrap {
    position: relative;
}
#svg-bg {background: url('img/bg.svg');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: right bottom;
}

#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 0px;
    right: 20px;
}

#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: #151515;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.5s;
}


@media screen and (max-width:800px) {
    .title p{
        font-size: 22px;
    }
}

@media screen and (max-width:670px) {
    .text01{width: 40%;}
}

@media screen and (max-width:500px){
    .text01{width: 50%}
}