*{box-sizing: border-box;}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    background-color: #222222;
    width: 100%;}
}

a {
    transition: color 0.3s ease 0s;
    text-decoration: none;
    color:#725e5e;
}

a,
a:link,
a:visited
    {
    color: white;
}

a:hover{
    color: gray
}

h3{
    color: aliceblue;
}

p{
    color: #c4c4c4;
    margin: 0;
}

.fas{
    position: fixed;
}

.link, .codepen{
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}

.codepen{
    max-width: 800px;
    margin-top: 20px;
}

.link p{
    margin-left: 50px;
    margin-right: 50px;
}

.cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	color: aliceblue;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {
	font-weight: bold;
	line-height: 3;
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	cursor: pointer;
	margin: 0 0 1px 0;
	background: #353638;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #333333;
}
.cp_actab .cp_actab-content p {
	margin: 1em;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 20em;
}
/* Icon */
.cp_actab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=checkbox] + label::after {
	content: '+';
}
.cp_actab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}

h3 {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
}

h3:before, h3:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}

h3:before {
  border-top: solid 1px #c4c4c4;
  border-left: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  left: 0;
}

h3:after {
  content: '';
  border-top: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  right: 0;
}

#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 40px;
    right: 30px;
}

#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: #151515;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.5s;
}

