* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
        background-color: #222222;
}

a {
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

a,
a:link,
a:visited{
    color:#ddd;
}

p {
    margin: 0 auto;
    color: #bababa;
}

#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.recommend , .event{
    width: 90%;
        max-width: 900px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    box-sizing: border-box;
    margin: 0 auto;
    font: 400 14px 'Sawarabi Mincho', sans-serif;
    
}



.event h3{
    margin-left: 20px;
    line-height: 0;
    letter-spacing: 5px;
    color:#ddd;
}

.recommend{
}

.recommend-box {
    width: 400px;
    height: 330px;
    margin-right: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

.recommend-box a{
    font-weight: bold;
}

.recommend-image img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 767px) {
    .recommend {
        width: 93.9%;
        margin: 20px auto;
        display: block;
        margin-top: 0;
    }

    .recommend-box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        border: none;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
    }

    .recommend-image,
    .recommend-image img {
        width: 170px;
        height: 75px;
        overflow: hidden;
    }

    .recommend-title {
        width: 450px;
        vertical-align: top;
        padding-left: 20px;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

@media (max-width: 367px) {
    .recommend-image img {
        width: 80px;
        height: 53px;
    }

    .recommend-title {
        width: 200px;
    }
}

/* 余白などの調整 */
#container #content {
    padding-top: 0;
}

.breadcrumb {
    margin: 0 auto;
    padding: 10px 0;
}

#pageTop a {
    display: block;
    z-index: 999;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: #151515;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.5s;
}


@media screen and (min-width:750px) {
    .top,
    .top-cont,
    .contents,
    footer p {
     
    }
}

