*{box-sizing: border-box;}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body,
html{
    height: 100%;
    width: ;margin: 0 auto;
    background-color: #fafaea;
    font-family: "M PLUS 1p";
    font-weight: bold;
}

a {
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

a,
a:link,
a:visited,{
    color:white;
}

p{
   margin: 0　auto;
}

h4, h3{
    color: #222222
}

hr {
  height: 5px;
	border-width: 0;
	background-image: -webkit-linear-gradient(right,
	#c2185b 0px,#c2185b 5px,#1976d2 5px,#1976d2 10px,
	#388e3c 10px,#388e3c 15px,#fbc02d 15px,#fbc02d 20px,
	#e64a19 20px,#e64a19 25px);
	background-image:         linear-gradient(-90deg,
	#c2185b 0px,#c2185b 5px,#1976d2 5px,#1976d2 10px,
	#388e3c 10px,#388e3c 15px,#fbc02d 15px,#fbc02d 20px,
	#e64a19 20px,#e64a19 25px);
	background-size: 25px 25px;
}

.topic1 h3{
    font-size: 23px;
     }
     
.topic1 p{
    margin-left: 20px;
     }

.topic1 img{
    margin-left: 40px;
}


#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: #151515;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.5s;
}

header{
    width: 80%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
}

header h4{
    font-size:32px;
    margin-top: 100px;
    line-height: 0;
}

header p{
    line-height: 0;
    margin-left: 100px;
    margin-bottom: 50px;
}

.topic1{
    width: 70%;
    max-width: 900px;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
}

footer{padding: 30px;}

@media screen and (min-width:750px) {
    .top,
    .top-cont,
    .contents,
    footer p {
       
    }
}