* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    background-color: :#fffcf2;
}

body,
html {
    height: 100%;
    line-height: 1;
}

a {
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

a,
a:link,
a:visited,
    {
    color: white;
}

p {
    color: #83001a;
    font-family: "M PLUS 1p";
}

h4 {
    color: #701112;
    font-family: "M PLUS 1p";
    font-size: 24px;
}

.under {
  border-bottom: dashed 2px #C5BD99;
}

header {
    height: 90px;
    background-color: #701112;
    position: relative;
}

header h4 {
    color: white;
    padding: 30px 0;
    line-height: 0;
    margin-left: 20px;
}

header p {
    color: white;
    line-height: 0;
    margin-left: 20px;
}


.about {
    position: relative;
    width: auto;
    max-width: 1200px;
    height: 50vh;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(250, 255, 121, 0.8), rgba(59, 154, 145, 0.9)),
        url(2658673_m.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.about h4 {
    color: white;
    font-size: 45px;
    letter-spacing: 2px;
    z-index: 1;
  
}

.about p{
    margin-left: 20px;
}

.about_block {
    position: absolute;
    bottom: 50px;
    left: 10px;
    padding: 2em;
    width: 80%;
}

.summary {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 2px;
}

.summary h4 {
    font-size: 26px;
}

.summary2 h4 {
    font-size: 26px;
    margin-top: 80px;
    text-align: center;
}

.explanation,
.proposing1,
.proposing2,
.proposing3 {
    width: 80%;
    margin: 40px auto;
    max-width: 700px;
    border: solid 3px #701112;
    border-radius: 10px;
    padding: 30px 10px;
    background: white;
}

.explanation h4,
.proposing1 h4,
.proposing2 h4,
.roposing3 h4 {
    margin-left: 30px;
    line-height: 1.5;
    margin: 30px 20px;
}


.explanation p,
.proposing1 p,
.proposing2 p,
.roposing3 p {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 2;
    font-weight: bold;
    color: #424242;
}

.back00 {
    position: relative;
    background: white;
    padding-bottom: 40px;
}

.back00::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 57px 57px 0 57px;
    border-color: white transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    z-index: 1;
}


.back01 {
    position: relative;
    background: #C5BD99;
    padding-top: 20px;
    padding-bottom: 40px;
}

.back01::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 57px 57px 0 57px;
    border-color: #C5BD99 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}

.proposing2 {
    margin-top: 60px;
}

#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: #151515;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.5s;
}


@media screen and (min-width:750px) {

    .top,
    .top-cont,
    .contents,
    footer p {
        margin-left: 150px;
    }
    .br-sp {display: none;
}
